<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
    <!-- input will be added here when click 'edit note' -->
    <div class="button">
      <button type="click" class="edit-note-btn" data-commentID={{id}} >edit note</button>
      <button type="click" class="delete-note-btn" data-commentID={{id}} >delete note</button>
       <!-- save and abortEdit buttons will be added when editing note -->
      <button type="click" class="save-note-btn" data-commentID={{id}} style="display:none"> save note </button>
      <button type="click" class="abort-edit-note-button" data-commentID={{id}} style="display:none"> abort edit</button>
    </div>
  </section>
  {{/each}}
</div>


{{#if loggedIn}}
<script src="/javascript/edit-comments.js"></script>
<script src="/javascript/delete-comments.js"></script>
{{/if}}
