<article class="post">
  <a href="/post/{{id}}">
    <div class="title">
      <strong>{{title}}</strong>
    </div>
    <div class="meta">
      by {{user.username}} on {{format_date created_at}}
    </div>
    <p>{{post_text}}</p>
  </a>
</article>