<article class="recipe">
  <a href="/recipe/{{id}}">
    <div class="title">
      <strong>{{title}}</strong>
    </div>
    <div class="meta">
      by {{user.username}} on {{format_date created_at}}
    </div>
    <p>{{recipe_instructions}}</p>
  </a>
</article>