<article class="shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
  <a href="/dashboard"> &larr; Exit without saving</a>
  <h2 class="text-2xl font-bold border-grey-light pb-2">
    Edit Recipe
  </h2>
  <form class="edit-recipe-form flex flex-col">
    <div class="mb-4 flex flex-col">
      {{!Create the flex properties for the single recipe data}}
      <div class="flex flex-wrap gap-4 items-end mb-2 items-stretch justify-between">
        {{!Call the partial for 1st recipe data card}}
        <div class="flex flex-col justify-between overflow-hidden rounded-lg shadow-lg max-w-md" style="width:400px;">
          <div>
            <img src="{{recipe.image}}" alt="food">
            <input name="recipe-image" type="text" value="{{recipe.image}}"/>
          </div>
          <div>
            <input class="text-2xl font-bold border-b border-grey-light pb-2 mt-5 bg-transparent" name="recipe-title"
              type="text" value="{{recipe.title}}" />
            <input class="bg-transparent" name="recipe-summary" type="text" value="{{recipe.summary}}" />
          </div>
        </div>
        {{!Ingredients - 2nd recipe data card}}
        <div class="flex flex-col justify-between overflow-hidden rounded-lg shadow-lg bg-transparent max-w-md p-2"
          style="width:400px;">
          <h1 class="text-2xl font-bold border-b border-grey-light pb-2">Ingredients</h1>
          {{textarea "recipe-ingredients" recipe.ingredients }}

          {{textarea "recipe-ingredient-array" recipe.ingredient_array }}
          <div class="flex-end border-grey-light pt-2">
            <div class="flex items-center justify-between border-t border-grey-light pt-2">
              <div>
                Meal Type:
                <input class="bg-transparent" name="recipe-type" type="text" value="{{recipe.type}}" />
              </div>
              <div>
                Serves:
                <input class="bg-transparent" name="recipe-serving" type="text" value="{{recipe.serving}}" />
              </div>
            </div>
          </div>
        </div>
        {{!Instruction - 3rd recipe data card}}
        <div class="flex flex-col justify-between overflow-hidden rounded-lg shadow-lg bg-transparent max-w-md p-2 "
          style="width:400px;">
          <h1 class="text-2xl font-bold border-b border-grey-light pb-2 bg-transparent">Instructions</h1>
          {{textarea "recipe-instructions" recipe.instructions }}
          <div class="border-t border-grey-light pt-2">
            <div class="flex items-center justify-between leading-tight">
              <div>
                Cuisine:
                <input class="bg-transparent" name="recipe-cuisines" type="text" value="{{recipe.cuisines}}" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!Two buttons - save and delete}}
    <div class="flex flex-row gap-4">
      <div>
        <button type="submit">Save recipe</button>
      </div>
      <div>
        <button type="button" class="delete-recipe-btn">Delete recipe</button>
      </div>
    </div>
    <div>
      {{> comments recipe.comments}}
    </div>
  </form>
  {{!Note field - editable}}

</article>

<script src="/javascript/edit-recipe.js"></script>
<script src="/javascript/delete-recipe.js"></script>
<script src="/javascript/comment.js"></script>