<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Recipe
  </h2>
  <form class="edit-recipe-form">
    <div>
      <input name="recipe-title" type="text" value="{{recipe.title}}" />
      <br><br>
      {{textarea "recipe-text" recipe.recipe_text  }}
      <br><br><br>
            <input name="recipe-ingredients" type="text" value="{{recipe.ingredients}}" />
      <br><br>
            <input name="recipe-cuisines" type="text" value="{{recipe.cuisines}}" />
      <br><br>
            <input name="recipe-serving" type="text" value="{{recipe.serving}}" />
      <br><br>
    </div>

    <div>
      by you on {{format_date recipe.created_at}}
      |
      <a href="/recipe/{{recipe.id}}">{{recipe.comments.length}} {{format_plural "comment" recipe.comments.length}}</a>
    </div>
    <button type="submit">Save recipe</button>
    <button type="button" class="delete-recipe-btn">Delete recipe</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments recipe.comments}}

<script src="/javascript/edit-recipe.js"></script>
<script src="/javascript/delete-recipe.js"></script>
<script src="/javascript/comment.js"></script>