<a href="/recipe/{{id}}"></a>
{{!Create the flex properties for the single recipe data}}
<div class="flex flex-wrap -m-3 gap-4 items-end mb-2 items-stretch">
  {{!Call the partial for 1st recipe data card}}
  <div class="overflow-hidden rounded-lg shadow-lg max-w-md">
    {{> recipe-info recipe}}
  </div>
  {{!Ingredients - 2nd recipe data card}}
  <div class="flex flex-col justify-between overflow-hidden rounded-lg shadow-lg bg-transparent max-w-md p-2">
    <h1 class="text-2xl font-bold border-b border-grey-light pb-2">Ingredients</h1>
    <p>{{recipe.ingredient_array}}</p>
    <div class="flex-end border-t border-grey-light pt-2">
      <div class="flex items-center justify-between">
        <div>
          Meal Type:
          {{recipe.type}}
        </div>
        <div>
          Serves:
          {{recipe.serving}}
        </div>
      </div>
    </div>
  </div>
  {{!Instruction - 3rd recipe data card}}
  <div class="flex flex-col justify-between overflow-hidden rounded-lg shadow-lg bg-transparent max-w-md p-2">
    <h1 class="text-2xl font-bold border-b border-grey-light pb-2">Instructions</h1>
    <p>{{recipe.instructions}}</p>
    <div class="border-t border-grey-light pt-2">
      <div class="flex items-center justify-between leading-tight">
        <div>
          by
          {{recipe.user.username}}
        </div>
        <div>
          Cuisine:
          {{recipe.cuisines}}
        </div>
      </div>
    </div>
  </div>
</div>
</a>
{{#if loggedIn}}
<form class="comment-form ">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments recipe.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/edit-comments.js"></script>
<script src="/javascript/delete-comments.js"></script>
{{/if}}
