{{!Get the data}}
<a href="/recipe/{{id}}"></a>
<div class="flex flex-col rounded-lg bg-transparent">
  {{!Create the flex properties for the single recipe data}}
  <div class="flex flex-wrap justify-center gap-4 items-end mb-2 items-stretch">
    {{!Call the partial for 1st recipe data card}}
    <div class="overflow-hidden rounded-lg shadow-lg max-w-md" style="height:400px; width:400px;">
      {{> recipe-info recipe}}
    </div>
    {{!Ingredients - 2nd recipe data card}}
    <div class="flex flex-col justify-between overflow-hidden rounded-lg shadow-lg bg-transparent max-w-md p-2">
      <h1 class="text-2xl font-bold border-b border-grey-light pb-2">Ingredients</h1>
      <div class="whitespace-pre-line">{{recipe.ingredients}}</div>
      <div class="flex-end border-t border-grey-light pt-2">
        <div class="flex items-center justify-between">
          <div>
            Meal Type:
            {{recipe.type}}
          </div>
          <div>
            Serves:
            {{recipe.serving}}
          </div>
        </div>
      </div>
    </div>
    {{!Instruction - 3rd recipe data card}}
    <div class="flex flex-col justify-between overflow-hidden rounded-lg shadow-lg bg-transparent max-w-md p-2"
      style="width:400px;">
      <h1 class="text-2xl font-bold border-b border-grey-light pb-2">Instructions</h1>
      <div class="whitespace-pre-line">{{recipe.instructions}}</div>
      <div class="border-t border-grey-light pt-2">
        <div class="flex items-center justify-between leading-tight">
          <div>
            Cuisine:
            {{recipe.cuisines}}
          </div>
          <div>
            by
            {{recipe.user.username}}
          </div>
        </div>
      </div>
    </div>
  </div>
  </a>
  {{#if loggedIn}}
  <form class="flex flex-col justify-self-center comment-form overflow-hidden rounded-lg shadow-lg p-2">
    <div>
      <textarea class="bg-transparent" name="comment-body"></textarea>
    </div>
    <div>
      <button class="-my-3" type="submit">Add a Note</button>
    </div>
  </form>
  {{/if}}

  {{> comments recipe.comments}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/edit-comments.js"></script>
<script src="/javascript/delete-comments.js"></script>
{{/if}}